# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
*.env

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

#Others
my_file.md
docker-compose.yml